{% extends 'base.html' %}
{% block contents %}

<br>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            작성자 : {{communitydetail.user}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{communitydetail.title}}</h5>
            <p class="card-text">{{communitydetail.body}}</p>
            <a href="{% url 'community' %}" class="btn btn-dark">글목록</a>
        </div>
        <div class="card-footer text-muted">
            작성일 : {{communitydetail.pub_date}}
        </div>
    </div>
</div>

{% if communitydetail.user == request.user %}
<a href="{% url 'communityedit' communitydetail.id %}">수정</a>
<a href="{% url 'communitydelete' communitydetail.id %}">삭제</a> <!--보안 문제 해결법 찾기-->
{% else %}
{% endif %}


{% if user.is_authenticated %}
<h1>댓글</h1>
<form action="{% url 'commentadd' communitydetail.id %}" method="POST">
    {% csrf_token %}
    내용 : 
    <input type="text" name="body">
    <input type="submit" value="제출">
</form>
{% else %}
<h1>댓글작성은 회원만 가능합니다.</h1>
{% endif %}


{% for comment in communitydetail.comments.all %}
    {{comment.user.username}} : {{comment.body}}
    {% if comment.user == request.user %}
        <a href="{% url 'commentedit' comment.id %}">댓글 수정</a>
        <a href="javascript:{
            var form = document.getElementById('commentdelete');
            form.action = '/communityapp/commentdelete/{{comment.id}}';
            form.submit();}">댓글 삭제</a>
    {% endif %}
    <br>
{% endfor %}

<form id="commentdelete" method="POST" action="">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}