{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
              
        <div class="alert alert-success" role="alert">
                <h4 style="font-size: 40px;="alert-heading">Calm Down!</h4>
                <p>Aww yeah, Our 'Come Down' is where you send your complaint.</p>
                <hr>
                <p class="mb-0">Use 'Come Down' and get the results you want!</p>
              </div>

              <div class="card-group">
                    <div class="card">
                      <img src="{% static '양식.png' %}" class="card-img-top" alt="양식">
                      <div class="card-body">
                        <h5 class="card-title">Form</h5>
                        <p class="card-text">적합한 양식을 가지고 진정서의 내용을 확인합니다.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="{% static '진정서.jpg' %}" class="card-img-top" alt="진정서">
                      <div class="card-body">
                        <h5 class="card-title">Submit</h5>
                        <p class="card-text">양식에 맞게 진정서를 작성합니다.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="{% static '웃자.jpg' %}" class="card-img-top" alt="웃음">
                      <div class="card-body">
                        <h5 class="card-title">Waiting..</h5>
                        <p class="card-text">결과가 나올때까지 기다립니다.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>

<h1 style="text-align: center; font-family:cursive">찾아오시는 길</h1>
<div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(35.1426749,126.9347367),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.1426749,126.9347367),
    map: map
});
</script>

{% endblock %}









<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>Document</title>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5fv68e9ayr"></script>
    </head>
    







